
html{
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
}

a:hover{
	color: yellow;
}

body{
	width: 100%;
	background-color: white;
}

.circle:hover .ppp{
transition: opacity 0.5s;
opacity: 0.2;
}

.circle1:hover .ppp{
transition: opacity 0.5s;
opacity: 0.2;
}

.circle:hover .text{
transition: opacity 0.5s;
opacity: 1;
}

.circle1:hover .text{
transition: opacity 0.5s;
opacity: 1;
}

.top{
	overflow: hidden;
	background-image: url("pic/m1.jpg");
	height: 650px;
	width: 100%;
}

.toptop{
	height: 30%;
	width: 100%;
}

.photo1{
	margin-top: 30px;
	margin-left: 60px;
	float:left;
	height: 100%;
	width:15%;
}

.ppp1{
	float:right;
	width:100px;
	height:100px;
	margin-right:50px;
}

.smallherf1{
	margin-top:30px;
	float:right;
	margin-right:10%;
	width:10%;
	height:100px;
	text-align:center;
	line-height:40px;
}

.smooth{
	color: white;
	font-size:26px;
	font-weight:bold;
}

#headline{
	margin-top:50px;
	margin-left:5%;
	letter-spacing:1px;
	font-size:55px;
	color:rgb(245,245,245);
}

#headline1{
	margin-top:2px;
	margin-left:6%;
	line-height:43px;
	letter-spacing:1px;
	font-size:28px;
	color:rgb(245,245,245);
}

#headline3{
	margin-top:50px;
	margin-left:5%;
	letter-spacing:1px;
	font-size:48px;
	color:rgb(245,245,245);
}

#headline4{
	margin-left:6%;
	line-height:39px;
	letter-spacing:1px;
	font-size:21px;
	color:rgb(245,245,245);
}

.second{
	margin-left:auto;
	margin-right:auto;
	height:650px;
	width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content1{
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	height:550px;
	width:80%;
}

.jieshao{
	margin-left:auto;
	margin-right:auto;
	float:left;
	height:100%;
	width:40%;
}

#gongsiming{
	font-size: 36px;
	line-height:50px;
	color:black;
	text-indent: 1em;
}

#gongsijieshao{
	font-size:19px;
	line-height:33px;
	text-indent: 2em;
}

#gongsijieshao2{
	font-size:19px;
	line-height:33px;
	text-indent: 2em;
}

#gongsijieshao3{
	font-size:19px;
	line-height:20px;
	text-indent: 2em;
}

#gongsijieshao4{
	font-size:19px;
	line-height:20px;
	text-indent: 2em;
}

.photoback{
	background-image: url("pic/6.jpg");
	float:right;
	height:450px;
	width:450px;
	border-radius: 50%; 
	overflow:hidden;
}

.photo2{
	margin-top: 5%;
	margin-left: 5%;
	height:90%;
	width:90%;
	border-radius: 50%; 
	overflow:hidden;
}

.third{
	background-image:url("pic/4.jpg");
	height:600px;
	width:100%;
}

.title2{
	margin-left:auto;
	margin-right:auto;
	height:150px;
	width:70%;
	text-align:center;
	border: 1px solid;
	border-color:rgba(0,0,0,0);
}

#big{
font-size:35px;
}

#big1{
	margin-top: 50px;
    font-size: 36px;
	line-height:70px;
}

#big4{
font-size:35px;
line-height:75px;
}

#big5{
font-size:35px;
line-height:75px;
}

#dark{
	margin-top: 50px;
    font-size: 36px;
	line-height:70px;
    color:rgb(255,255,255);
}

#dark4{
font-size:35px;
color:rgb(255,255,255);
line-height:83px;
}

.content2{
	margin-left:auto;
	margin-right:auto;
	height:450px;
	width:90%;
	display: flex;
	justify-content: space-around;
}

.zuo{
	float: left;
	height:450px;
	width:23%;
}

.circle{
	position: relative;
    top: 0.3%;
    border-radius: 50%;
	height:45%;
	width:100%;
	background-image: url("pic/6.jpg");
}

.circle1{
	position: relative;
    top: 24%; 
    border-radius: 50%;
	height:45%;
	width:100%;
	background-image: url("pic/6.jpg");
}

.ppp{
	overflow:hidden;
	margin-top: 5%;
	margin-left: 5%;
	width:90%;
	height:90%;
	border-radius: 50%;
	background-color: white;
}

.text{
	position: absolute; /* 使用绝对定位将文字放置在图片上 */
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 将文字中心点移动到图片中心 */
    color: white; /* 设置文字颜色 */
    font-size: 40px; /* 设置文字大小 */
    text-align: center; /* 设置文字居中 */
    opacity: 0; /* 默认不显示文字 */
    pointer-events: none; /* 防止文字影响鼠标悬停事件 */
}

.fifth{
	height:650px;
	width:100%;
	background-image: url("pic/5.jpg");
}

.title3{
margin-left:auto;
margin-right:auto;
height:150px;
width:70%;
text-align:center;
border: 1px solid;
border-color:rgba(0,0,0,0);
}

.content3{
	margin-left:auto;
	margin-right:auto;
	background-image: url("pic/7.jpg");
	height:400px;
	width:85%;
}

.photo3{
	float:left;
	height:73%;
	width:35%;
	margin-top: 5.5%;
	margin-left: 5%;
}

.ppp3{
height:100%;
width:100%;
box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.15);
}

.jieshao2{
	float:right;
	height:73%;
	width:52%;
	margin-top: 5.5%;
	margin-right: 5%;
	border: 2px dashed white;
}

.mark{
	font-size:26px;
	color: white;
	line-height: 55px;
	padding-left: 20px;
}

.last{
	border: 1px solid rgb(71, 194, 253);
	background-color:rgb(71, 194, 253);
	height:55px;
	width:99.9%;
}

.renzhen{
	color:white;
	line-height: 30px;
	text-align:center;
	font-size:14px;
}